<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
    <!-- Bootstrap -->
    <script src="../public/css/bootstrap.min.css"></script>
    <!-- CSS Personalizado-->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/styleCadastroCliente.css">
    <!--favicon????-->
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <title>Cadastrar Cliente</title>
</head>
<body>
    <div class="container">
        <button type="button">Cadastrar</button>
        <button type="button">Consultar</button>
    </div>


    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="Icone banco de dados">

    </footer>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Renderização -->
    <script src="renderer.js"></script>
</body>
</html>